@{
    ViewData["Title"] = "Home Page";
}
@section AddToHead{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
}

<div id="welcome-div">
    <h1 class="display-4">Nostalgia</h1>
    <p>- a sentimental longing or wistful affection for the past, typically for a period or place with happy personal associations.</p>
</div>