@{
    ViewData["Title"] = "Nostalgia Page";
}
@model ExistingNostalgiasViewModel

@section AddToHead{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
}

<form action="add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" class="form-control" placeholder="title" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control" rows="5" placeholder="description"></textarea>
    </div>    
    <div class="form-group">
        <label for="file-upload">Example file input</label>
        <input type="file" class="form-control-file" id="file-upload" name="file" />
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>