@{
    ViewData["Title"] = "Nostalgia Page";
}
@model ExistingNostalgiasViewModel

@section AddToHead{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
}

<div>
    <a>Create a new Nostalgia</a>
    @if(Model.Nostalgias.Count == 0)
    {
        <p>You have no Nostalgias!</p>
    }
    else
    {
        foreach(var nostalgia in Model.Nostalgias)
        {
            <p>@nostalgia.Title</p>
            <p>@nostalgia.Description</p>
        }
    }
</div>